/* reset values */
* {
    border: none;
    border-radius: 0px;
    font-family: "IBM Plex Mono";
    font-weight: bold;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

window#waybar {
    border: 2px solid white;
    background: rgba(17, 17, 17, 1);
    margin-left: 20px;
    margin-right: 20px;
}

#clock {
    color: #EEEEEE;
    padding-right: 3px;
    padding-left: 3px;
}

#workspaces {
    color: #EEEEEE;
    padding-right: 3px;
    padding-left: 3px;
}

#workspaces button:hover {
    background: rgba(17, 17, 17, 0.6);
}
